@media all and (max-width: 1170px)
{
    body
    {
 
    }
    .bula
    {
        height: 70vh;
        top:5%;
               background-image: url(../obrazy/man-2.jpg);
        background-position: top;
    }
   header .header--main
    {
        left:  52%;
        font-size: 1.2em;
        text-align: left;
       top: 25%;
    }
}


@media all and (max-width: 992px)
{
    .bula
    {
        background-image: url(../obrazy/man-1.jpg);
        height: 50vh;
      
    }
        
    header .header--main
    {
        font-size: 1.2em;
        color: black;
       text-align: center;
        left: 0;
        right: 0;
      top: 100%; 

        
    }
    .bula{
         
    }
}
