#work{
    width: 100%;
    
    background-color:  #232340;
    color: white; 
    
    .work-box{
        
        
    
    
    #work-top{
        height: 20%;
        width: 100%;
        text-align: center;
        h1{
            font-weight: 700;
            padding-top: 5%;
            
        }
        .orange-break{
            width: 10%;
            border-top: 5px solid orange;
            display: inline-block;
            
        }
        p{
            color: rgba(255, 255, 255, 0.35)
        }
        
    }
    .row   {
        
        
        #work1{
            width: 100%;
            height: 60vh;
            
            background-image: url(../../img/works/Layer%2026.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;;
                
        }
        #work2{
            text-align: left;
            padding: 5%;
            
            h2{
                margin-bottom: 2%;
                
            }
            .dotted{
                width: 80%;
                border-top: 2px dotted black;
            }
            .role{
                display: inline-block;
                width: 20%;
                
            }
            .content{
                display: inline-block;
            }
        }
    }
            }
    .box-bottom{
        
        width: 100%;
        background-color: #201e22;
        div{
   
        height: 100%;
    .row{
        height: 80%;
    .work-bottom-box{
        height: 30vh;
         width: 20%;
        background-color: #11111f;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        background-repeat: no-repeat;
        background-position: center;
        
    }
        #show1{
            background-image: url(../../img/works/Layer%2030.png);
        }
        
        #show2{
            background-image: url(../../img/works/Layer%2031.png);
        }
        #show3{
            background-image: url(../../img/works/Layer%2037.png);
        }
        }} }
}